/** 
Set up variables:

For colors create names like: $c-primary
where c stands for color
For fonts create names like: $f-primary
where f stands for fonts
etc.

*/

//COLORS
$c-primary: #00509E;
$c-mediumbg: #373847;
$c-lightbg: #4a4b5f;
$c-headerbg: #373847;
$c-footerbg: #373847;
$c-priobg: #373847;
$c-navFooterTxt: #fff;
$c-headerTxt: #fff;
$c-hover: #fff;
$c-secondary: #373847; //NB!! Bytte til #DDE7EE etter NTNU sin designmanual? Eventuelt #79A2CE
$c-secondarysdw: #373847a7;
$c-alert: #BA0909;
$c-confirm: #0CAE43;
$c-dark: #272833;
$c-white: #fff;
$c-text: #fff; //Bruk denne for all tekst løpende tekst
$c-links: #fff;
$c-bodybg: #272833;
$c-modaltransparent: rgba(#272833, 0.9);
$c-modalbg: #373847;
$c-transparent: transparent;
$c-btnborder: #fff;
$c-btntext: #fff;
$c-focus: rgb(255, 230, 0);

$footer-graphic: url("../images/footer-graphic-200-dark.svg") no-repeat bottom;