// imports
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "vue-select/src/scss/vue-select.scss";

/** 
Set up variables:

For colors create names like: $c-primary
where c stands for color
For fonts create names like: $f-primary
where f stands for fonts
etc.

*/

//COLORS
$c-primary: #00509E;
$c-hover: #000;
$c-secondary: #D9E5F0; //NB!! Bytte til #DDE7EE etter NTNU sin designmanual? Eventuelt #79A2CE
$c-alert: #BA0909;
$c-confirm: #0CAE43;
$c-dark: #272833; //Bruk denne for all tekst løpende tekst
$c-white: #fff;

//FONTS

$f-primary: "'Open sans', sans serif";


/* $primary: #30A0EE;
$error: #ef5777;
$success: #1abc9c;
$light: #F5F8FA;
$medium: #657786;
$dark: #34495E;
$white: #fff;
$NTNU: #00509e; */

// resets
body {
	margin: 0;
	color: $c-dark;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	transition: 0.15s;

	&:focus {
		outline: none;
	}
}

// fonts
h1,
h2,
h3,
h4,
h5,
p {
	margin: 0 0 0.5rem;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.4rem;
}

h5 {
	font-size: 1.2rem;
}

p {
	line-height: 1.5;
}

a {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: $c-primary;
	margin: 0;
	cursor: pointer;

	&:hover {
		color: lighten($c-primary, 5%);
	}
}

// globals

[v-cloak] {
	display: none;
}

.loading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba($c-dark, 0.4);
	z-index: 9999;

	p {
		background: $c-white;
		width: 150px;
		text-align: center;
		margin: 40vh auto 0;
		padding: 40px 0;
		border-radius: 3px;
		box-shadow: 0 0 20px 0 rgba($c-dark, 0.5);
	}
}

.error-msg {
	margin-top: 1rem;
	text-align: center;

	p {
		color: $c-alert;
		margin: 0;
	}
}

.button {
	background: $c-primary;
	border: 0;
	outline: 0;
	color: $c-white;
	padding: 0.8rem 1rem;
	min-width: 150px;
	font-size: 16px;
	border-radius: 3px;
	cursor: pointer;

	&:hover {
		background: lighten($c-primary, 5%);
	}

	&:disabled {
		opacity: 0.5;

		&:hover {
			background: $c-primary;
		}
	}
}

.text-center {
	text-align: center;
}


.clear {
	clear: both;
}


// transitions

.fade-enter-active {
	transition: opacity 1s;
}

.fade-leave-active {
	transition: opacity 0s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}



