// imports
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "vue-select/src/scss/vue-select.scss";



/*GENERAL GLOBAL STYLING*/

// resets
body {
	margin: 0;
	color: $c-text;
	background: $c-bodybg !important;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

* {
	font-family: $f-primary;
	box-sizing: border-box;
	transition: 0.15s;
}

li {
    color: $c-text;
  }

// fonts
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0 0 0.5rem;
	color: $c-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $c-headerTxt;
}

h1 {
	font-size: $fs-h1;
	text-transform: capitalize;
}

h2 {
	font-size: $fs-h2;
}

h3 {
	font-size: $fs-h3;
}

h4 {
	font-size: $fs-h4;
}

h5 {
	font-size: $fs-h5;
}

h6 {
	font-size: $fs-h6;
}

p, em, strong, details p, details summary {
	color: $c-text;
	line-height: 1.5;
}

a {
	font-family: $f-primary;
	text-decoration: none;
	color: $c-links !important;
	margin: 0;
	cursor: pointer;

	&:hover {
		color: lighten($c-primary, 5%);
	}
}

// globals

[v-cloak] {
	display: none;
}

.loading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba($c-dark, 0.4);
	z-index: 9999;

	p {
		background: $c-white;
		width: 150px;
		text-align: center;
		margin: 40vh auto 0;
		padding: 40px 0;
		border-radius: 3px;
		box-shadow: 0 0 20px 0 rgba($c-dark, 0.5);
	}
}

.error-msg {
	margin-top: 1rem;
	text-align: center;

	p {
		color: $c-alert;
		margin: 0;
	}
}

.button {
	background: $c-primary;
	border: 0;
	outline: 0;
	color: $c-white;
	padding: 0.8rem 1rem;
	min-width: 150px;
	font-size: $fs-normal;
	border-radius: 3px;
	cursor: pointer;

	&:hover {
		background: lighten($c-primary, 5%);
	}

	&:disabled {
		opacity: 0.5;

		&:hover {
			background: $c-primary;
		}
	}
}

.text-center {
	text-align: center;
}


.clear {
	clear: both;
}

// transitions

.fade-enter-active {
	transition: opacity 1s;
}

.fade-leave-active {
	transition: opacity 0s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}


.list-enter-active,
.list-leave-active,
.list-move {
  transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity, transform;
}

.list-enter {
  opacity: 0;
  transform: translateX(50px) scaleY(0.5);
}

.list-enter-to {
  opacity: 1;
  transform: translateX(0) scaleY(1);
}

.list-leave-active {
  position: absolute;
}

.list-leave-to {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center top;
}