
.coopIntro { //intro til hva coop er, ligger i coop.vue
  margin-top: 30px;
  font-size: 20px; 
}


//DARK MODE SLIDER
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $c-bodybg;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: $c-text;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $c-bodybg;
}

input:focus + .slider {
  box-shadow: 0 0 1px $c-primary;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  border: 1px solid $c-text;
}

.slider.round:before {
  border-radius: 50%;
}

.b-icon-sun, .b-icon-moon {
  fill: $c-text;
}



// navigation
header{
    background: $c-headerbg;
    border-bottom: 1px solid $c-secondary;
    
    li {
      color: $c-navFooterTxt !important;
    }

    .navbar-toggler{
      background:  $c-navFooterTxt;
    }
    

    a:hover {
      text-decoration: underline !important;
    }

    .dropdown-menu {
      background: $c-headerbg;

      a:hover {
        background: $c-headerbg;
      }
    }
  
  .counter{
    position: absolute;
    background-color: $c-alert;
    color: $c-white;
    border-radius: 50px;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 12px;
    top: 1.6em;
    right: 16em;
    z-index: 5;
  }
  //bootstrap nav
  ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    li{
      margin: 0px 20px;

      a {
        color: $c-navFooterTxt !important;
      }
      
      @media screen and (max-width: 990px) {
        text-align: center;
      }
    }
  }
  //MENYEN NEDERST I MOBILVISNING, FJERNER OGSÅ "VELKOMMEN.."
  @media only screen and (max-width: 768px)  {
    position: fixed;
    bottom: 0;
    z-index: 99999999999;
    width: 100%;
    nav {
      border-top: 1px solid $c-white;
      .navbar-text {
        display: none;
      }
    }
  }
}


/* .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:focus{
  color: $c-headerTxt !important;
  border-bottom: 1px solid $c-dark;
} */


// FOR SAMARBEID OG PROFIIIIIIIIIIIIIIIIIL

#search-field {
  input {
    width: 100%;
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $c-text;
  background-color: $c-bodybg;
  color: $c-text;
  }

  input:focus {
    background-color: darken($c-bodybg, 5%);
  }
}


.left-col-container{
  display: flex;
  flex-direction: column; 

  .topRow{
      &.blue{
        position: relative;
        min-height: 6em;
        width:100%;
        
        display: flex;
        align-items: center;
        justify-content:center;
        color: $c-text;
        background-color:$c-primary;
      }

      &.regular{
        background-color:$c-white;
      }

      div{
        
        display:flex;
      /*  align-items: center;
        justify-content:center; */
        h1{
          text-align: center;
          text-transform: capitalize;
        }
        
        button{
          position: absolute;
          right:5%;
          width: 9em;
          background-color:$c-transparent;
          color: $c-text;
          border-radius: 5px;
        }
      }
    }

    .main{
      display: flex;
      width:100%;
      min-height: 34em;
      margin-top: 3em; 
      
      section:first-of-type { 
      padding: 0 50px 0 50px;
      border-right: 1px solid rgb(197, 197, 197);
      display: flex;
      justify-content: center;

      .active{
        color: $c-links;
        font-weight: bold;
        text-decoration: underline;
      }

      ul {
        font-size: $fs-menu;
        list-style-type: none;
        padding-left: 0;

        li {
          padding-bottom: 20px;
          cursor: pointer;
          color: $c-text;
        }
      }
    }

    section:last-of-type{
      flex-basis: calc(100% - 20em);
      padding: 0em 5%; 
      
      .secRow{
        margin-bottom: 4em;
        div{
          
          display:flex;
          justify-content: space-between;
          h2{
            font-size: 2.5em;
            text-transform: capitalize;
          }
          input{
            width: 40%;
          }
          button{  
            width:10em;
          }
        }
      }
      
      .contentList{
        background-color: $c-white;
        width: 100%;
        height: 100%;
        display: flex;
        padding-top: 50px;
        justify-content:center;
      }

    }

    &.profile{
      section:last-of-type{
        display: flex;
      }
      .column{
        flex-direction: column;
        .button{
          max-width: 6em;
          align-self: flex-end;
        }
      }
      
    }

  }
} 

.cardsList { //for cards på samarbeid
  padding: 20px; 
  border-radius: 5px;
  margin-top: 30px;
  border: 1px solid $c-transparent;

  &:hover {
    
    border: 1px solid $c-secondary;
    box-shadow: 0 3px 15px $c-secondarysdw;
  }
  
  .right-column {
    h3 {
      margin-bottom: 10px;
    }
    .card-company-name {
      font-weight: bold;
      text-transform: uppercase;
      font-size: $fs-small;
    }
  }
  .card-buttons {
    display: flex;
    justify-content: flex-end;

    @media only screen and (max-width: 768px) {
      justify-content: flex-start;
      }
  }
}

//Sidemeny i samarbeid. Har en class
.sideMenu{
  padding: 0 50px 0 50px;
  border-right: 1px solid rgb(197, 197, 197);

  .active{
    color: $c-links;
    font-weight: bold;
    text-decoration: underline;
  }
  ul {
    font-size: $fs-menu;
    list-style-type: none;
    padding-left: 0;

    li {
      padding-bottom: 30px;
      cursor: pointer;
      color: $c-text;
    }
  }
  @media only screen and (max-width: 768px) {
		border-right: none;
		}
}

.coopContainer { //container i samarbeid, for å få avstand fra meny
  padding-top: 50px;
}

// SLUTT PÅ SAMARBEID

//forms

.signUpForm{

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: 0px 30px;

  .field:not(.select){
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2em;
    
    label{
      
      width: 100%;
      font-size: $fs-normal;
      color: $c-headerTxt;
      margin-bottom: 10px;
    }
    input{
      font-size: $fs-normal;
      width: 100%;
      border: none;
      border-bottom: 1px solid $c-dark;
      padding-bottom: 8px;
    }
    textarea{
      height: 13em;
      width: 100%;
      padding: 10px 10px;
    }
    
  }

  .select{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    label{
      width: 100%;
      font-size: $fs-normal;
      color: $c-headerTxt;
      margin-bottom: 10px;
    }
  }

} 

/*
KNAPPER
*/

//Felles
.primary-button, .secondary-button {
  padding: 7px;
  border-radius: 5px;
  min-width: 90px;
  border: 1px solid $c-btnborder;

  &:hover {
    padding: 7px;
    border-radius: 5px;
  }
}

//Primær
.primary-button{
  background-color: $c-primary;
  color: $c-white;

  &:hover {
		background-color: $c-transparent;
    color: $c-btntext;
	}

}

//Sekundær
.secondary-button {
    background-color: $c-transparent;
    color: $c-btntext;
    margin-left: 10px;

    &:hover {
      background-color: $c-primary;
      color: $c-white;
    }
}

.modalButton{
  margin-top: 2em;
  float: right;
  
  
}

//Om-side
#dashboard, #calendar {
	.img_right_column {
    max-height: 400px;
    object-fit: contain;
    height: 100%;
    width: 100%;
		float: right;
	} 

  h1 {
    margin-top: 40px;
  }

  .calendarImg {
    height: 100%;
    width: 100%;
  }

	.img_left_column {
		max-width: 400px;
		width: 100%;
	}

  /* .indexIntro { //.indexIntro ligger på to diver
    margin-top: 50px;
  } */
  .indexEnd { //siste to avsnitta på index
    margin-top: 70px;
  }

	@media only screen and (max-width: 768px) {
    .mobile-second { //classe på bilde nr 2 for å få bildet etter tekst i mobilview
      order: 2;
    }
		.img_about_1 {
			padding-top: 20px;
      padding-bottom: 20px;
		}

		.img_about_2 {
      padding-top: 20px;
		}
	} 
}

#signup{
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 40em;
  margin: 0px auto;
  
  form{
    margin-top: 3em;
    margin-bottom: 3em;
    button{
      grid-column: 2/3;
    }
    .full{
      grid-column: 1/3;
    }
  }
  

}


//editor for making post
#post{
  display: flex;
  width:100%;
  >.left{
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    flex-basis: 15em;

    img{
      width: 100%;
      object-fit: contain;
      max-height: 8em;
      margin-bottom: 2em;
    }

    

    .desc{
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items:center;
    }

    .companyName{
      text-transform: capitalize;
      margin-bottom:1.5em;
    }

    .contact{
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items:flex-start;
      background-color:$c-lightbg;
      border-radius: 5px;
      width: 100%;
      padding: 20px 0px 20px 20px;
      
      >*:first-of-type {
        margin-bottom:1rem;
      }
    }
  }
  .right{
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% - 15em);
    max-width: calc(100% - 15em);
    padding: 0px 4%;

    #makePost{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: minmax(min-content, max-content);
      grid-gap: 0px 30px;

      .v-select{
        border: 1px solid $c-text;
        border-radius: 5px;
        color: $c-text;

        input {
          color: $c-text;
        }

        svg {
          fill: $c-text;
        }
      }

      .vs__selected {
        color: white;
      }

      .field:not(.select){
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 2em;
        
        label{
          
          width: 100%;
          font-size: $fs-normal;
          color: $c-headerTxt;
          margin-bottom: 10px;
        }
        input{
          font-size: $fs-normal;
          width: 100%;
          border: none;
          background-color: $c-transparent;
          border-bottom: 1px solid $c-text;
          padding-bottom: 8px;
        }
        textarea{
          height: 13em;
          width: 100%;
          padding: 10px 10px;
        }
        
      }

      .select{
        display: flex;
        flex-direction: column;
        
        width: 100%;
        label{
          width: 100%;
          font-size: $fs-normal;
          color: $c-headerTxt;
          margin-bottom: 10px;
        }
      }
      .full{
        grid-column: 1/3;
      }
      .select{
        margin-bottom: 2em;
      }
      
    }
    
    .modalButton{
      align-self: flex-end;
      margin-top: 5em;
    }

  }
}


// login

  .col2 {
    height: 70vh;
    h1 {
      margin-bottom: 2rem;
    }
    input {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid $c-primary;
    }
    label{
      width: 100%;
      font-size: $fs-normal;
      color: $c-primary;
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    button {
      float: right;
      margin-top: 2rem;
    }
    @media screen and (max-width: 742px) {
      height: auto;
      padding-top: 20vh;
    }
  }

// password reset
// bootstrap knekte modalen, så denne har blitt renamed til cutomModal
.customModal {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $c-modaltransparent;
  z-index: 2;
  padding: 5em 0em;
  overflow-y: auto;

  .editor {
    color: $c-text;

    .quillWrapper {
      .ql-stroke {
        stroke:$c-text;
      }
    }
  }

  .custom-modal-content {
    >.editor{
      min-width: 70vw;
    }

    //Modal for samarbeid
    .coopModal {
      width: 70vw;

      v-list {
        list-style-type: none;

        li {
          display: inline;
        }
      }

      .left-column {
        border-right: 10px solid $c-secondary;
        text-align: center;
        padding-right: 30px;

        img {
          max-width: 200px;
        }
      }

      .right-column {
        padding-left: 30px;
      }

      @media only screen and (max-width: 768px) {
        .left-column {
          border-right: none;
          
          img {
            max-width: 200px;
          }
        }

        .modalbtns {
          div {
            float: none;
            margin: auto;
            display: flex;
            justify-content: center;
          }
        }
      }
    }

    position: relative;
    margin: auto;
    
    max-width: 80%;
    min-width: 55%;
    background: $c-modalbg;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(#333, 0.5);
    z-index: 999;

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 5px;
      cursor: pointer;
      transition: 0.15s;

      &:hover {
        color: $c-dark;
      }
    }

    h3 {
      margin: 0;
      margin-bottom: 1em;
    }

    p {
      margin: 15px 0;
    }

    .error {
      color: $c-alert;
      font-size: $fs-small;
    }

    .button {
      width: 100%;
    }
  }
}

// Contact Column
.contactColumn {
  margin-right: 50px;
  //background-color: $c-secondary;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    border-radius: 15px;
    margin-bottom: 20px;
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
  }
  .info {
    text-align: center;
  }
}


// settings
#settings {
  padding: 2rem 0;

  .col1 {
    max-width: 600px;
    margin: 5vh auto 0;
    background: $c-white;
    padding: 2rem;
  }


  .success {
    color: $c-confirm;
    margin: 0.5rem 0 -2rem;
  }

  .button {
    margin-top: 2rem;
  }
}


//Footer
footer {
	margin-top: 2rem;

	.footer-top, .footer-bottom {
		margin: 0;
	}

	.footer-top {
		width: 100%;
		min-height: 250px;
		margin-bottom: -5px;

    path {
      position: absolute;
      bottom: 0;
    }
    background: inline-svg('<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 200" style="enable-background:new 0 0 1920 200;" xml:space="preserve"><path class="st0" d="M0,172.38c0,0,249-93.38,914-50.38s434-158,1014-75v153H0V172.38z"/></svg>');
		background: $footer-graphic;
	}

	.footer-bottom {
		height: auto;
		padding: 0.5rem 1rem;
		background: $c-footerbg;
    padding-bottom: 65px;

		img {
			max-width: 250px;
      width: 100%;
			padding-bottom: 20px;
		}

    li a {
      font-size: $fs-small;
      color: $c-navFooterTxt !important;
    }

    h6 {
     color: $c-navFooterTxt;
    }
		
		ul {
			list-style-type: none;
			padding: 0;
		}
	}
  .credits { //forklarende tekst om at BeNet er bachelorprosjekt
    font-size: $fs-xsmall;
    overflow: hidden;
    background: $c-footerbg;
      p {
      color: $c-navFooterTxt;
      }
  }

	@media only screen and (max-width: 768px) {
		.footer-bottom {
			img {
				display: block;
				margin: auto;
				padding: 50px 0;
			}
			h6, a, ul {
				text-align: center;
			}
		}
	}
}

//cardview hos admin
.matrixMenu{
  display: flex;
  flex-direction: column;
  width: 100%;
  .tabs{
    display: flex;
    justify-content: space-between;
    list-style:none;
    li{

      color: $c-headerTxt;
      cursor: pointer;
      &.active{
        border-bottom:2px solid $c-primary;
      }
    }
  }
  .cards-list, .matrix-list{
    display: flex;
    flex-direction:column;
  }
}

.imgUpload-cont{
  width:100%;
  display: flex;
  flex-direction: column;
  .top{
    margin-bottom:2em;
    display: flex;
    #imgInput{
      border: none;
      width: 48%;
      margin-right: 2em;
    }
    p{
      width: calc(100% - (48% + 2em));
      display:flex;
      justify-content: space-between;
    }
  }
  .bottom{
    display: flex;
    align-items: center;
    justify-content:center;
    min-width: 100%;
      height: 14em;
      border: 3px dashed rgb(190, 190, 190);
      border-radius: 15px;
    >*{
      object-fit: contain;
      cursor: pointer;
      background-color: rgb(241, 241, 241);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      
    }

  }
}

.pureCard{
  display: flex;
  min-height: 12em;
  .left{
    flex-basis: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 70%;
      object-fit:contain;
    }
  }
  .middle{
    flex-basis: calc(100% - 27em);
    padding: 0px 20px;
    min-width: 20em;
    div{
      
      text-align: justify;
    }
  }
  .right{
    flex-basis: 12em;
    display:flex;
    flex-direction: column;
    justify-content:center;
    
    button{
      height: 2em;
      padding: 0px;
      
      width:100%;
      margin-bottom: 2em;
    }
    div{
      display: flex;
      justify-content:space-between;
      button{
        padding: 0px;
        width: 48%;
        min-width: 2em;
        align-self: flex-start;
    
      }
    }
  }
}

//NY KODE FOR SAMARBEID OG CARDS SARAH. MÅTTE LEGGES HER FORDI ALT
//JEG GJORDE ANDRE STEDER FUNKA IKKE. CSS MÅ RYDDES LITT. 
.left-column { //Dette handler om bildene i cards på samarbeid
  max-width: 200px;
    .card-logo { //div inni left-column
    overflow: hidden;
    padding: 15px;
      img {
        width: 100%;
        height: auto;
      }
  }
}


