
//DARK MODE SLIDER
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $c-bodybg;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: $c-text;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $c-bodybg;
}

input:focus + .slider {
  box-shadow: 0 0 1px $c-primary;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.b-icon-sun, .b-icon-moon {
  fill: $c-text;
}


// navigation
header{
  .counter{
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 50px;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 12px;
    top: 1.6em;
    right: 16em;
    z-index: 5;
  }
  //bootstrap nav
  ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    li{
      margin: 0px 20px;
      
      @media screen and (max-width: 990px) {
        text-align: center;
      }
    }
  }
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:focus{
  color: $c-primary!important;
  border-bottom: 1px solid $c-dark;
}


// FOR SAMARBEID
.left-col-container{
  display: flex;
  flex-direction: column;

  .topRow{
      &.blue{
        position: relative;
        min-height: 6em;
        width:100%;
        
        display: flex;
        align-items: center;
        justify-content:center;
        color: $c-text;
        background-color:$c-primary;
      }
    &.regular{
      background-color:$c-white;
    }

    div{
      
      display:flex;
     /*  align-items: center;
      justify-content:center; */
      h1{
        text-align: center;
        text-transform: capitalize;
      }
      button{
        position: absolute;
        right:5%;
        width: 9em;
        background-color:$c-transparent;
        color: $c-dark;
        border-radius: 5px;
      }
    }

  }

  .main{
    display: flex;
    width:100%;
    min-height: 34em;
    margin-top: 3em;
    
  
    section:first-of-type{
    // flex-basis: 20em;
    padding: 0 50px 0 50px;
    border-right: 1px solid rgb(197, 197, 197);
    display: flex;
    // align-items: center;
    justify-content:center;

    .active{
      color: $c-primary;
      font-weight: bold;
      }
    ul {
      font-size: $fs-menu;
      list-style-type: none;
      padding-left: 0;
      li {
        padding-bottom: 20px;
        cursor: pointer;
      }
    }
    }

  section:last-of-type{
    flex-basis: calc(100% - 20em);
    padding: 0em 5%;
    
    .secRow{
      margin-bottom: 4em;
      div{
        
        display:flex;
        justify-content: space-between;
        h2{
          font-size: 2.5em;
          text-transform: capitalize;
        }
        input{
          width: 40%;
        }
        button{  
          width:10em;
        }
      }
    }
    
    .contentList{
      background-color: $c-white;
      width: 100%;
      height: 100%;
      display: flex;
      padding-top: 50px;
      justify-content:center;
    }

    .cardsList {
      padding: 20px; 
      border-radius: 5px;
      margin-top: 30px;

      &:hover {
        box-shadow: 0 3px 15px rgba(0,0,0,0.2);
      }
      .left-column {
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
        }
      }
      .right-column {

        h3 {
          margin-bottom: 10px;
        }
      }
      
      .card-buttons {
        float:right;
      }

    }
  }

  &.profile{
    section:last-of-type{
      display: flex;
    }
    .column{
      flex-direction: column;
      .button{
        max-width: 6em;
        align-self: flex-end;
      }
    }
    
  }

 }
}

// SLUTT PÅ SAMARBEID

//forms

.signUpForm{

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: 0px 30px;

  .field:not(.select){
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2em;
    
    label{
      
      width: 100%;
      font-size: $fs-small;
      color: $c-primary;
      font-weight: bold;
      margin-bottom: 10px;
    }
    input{
      font-size: $fs-normal;
      width: 100%;
      border: none;
      border-bottom: 1px solid $c-dark;
      padding-bottom: 8px;
    }
    textarea{
      height: 13em;
      width: 100%;
      padding: 10px 10px;
    }
    
  }

  .select{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    label{
      width: 100%;
      font-size: $fs-small;
      color: $c-primary;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

} 

/*
KNAPPER
*/

//Felles
.primary-button, .secondary-button {
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  min-width: 90px;
  border: 1px solid $c-primary;

  &:hover {
    padding: 10px;
    border-radius: 5px;
  }
}

//Primær
.primary-button{
  background-color: $c-primary;
  color: $c-white;

  &:hover {
		background-color: $c-transparent;
    color: $c-primary;
	}
}

//Sekundær
.secondary-button {
    background-color: $c-transparent;
    color: $c-primary;

    &:hover {
      background-color: $c-primary;
      color: $c-white;
    }
}

.modalButton{
  margin-top: 2em;
  float: right;
  
  
}

//Om-side
#dashboard {
	.img_about_1 {
		max-height: 400px;
		float: right;
	}

	.img_about_2 {
		max-width: 400px;
		width: 100%;
	}

	@media only screen and (max-width: 768px) {
		.img_about_1 {
			display: none;
		}

		.img_about_2 {
			display: block;
			margin: auto;
		}
	}
}

#signup{
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 40em;
  margin: 0px auto;
  
  form{
    margin-top: 3em;
    margin-bottom: 3em;
    button{
      grid-column: 2/3;
    }
    .full{
      grid-column: 1/3;
    }
  }
  

}


//editor for making post
#post{
  display: flex;
  width:100%;
  >.left{
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    flex-basis: 15em;

    img{
      width: 100%;
      object-fit: contain;
      max-height: 8em;
      margin-bottom: 2em;
    }

    

    .desc{
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items:center;
    }

    .companyName{
      text-transform: capitalize;
      margin-bottom:1.5em;
    }

    .contact{
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items:flex-start;
      background-color:rgb(241, 241, 241);
      border-radius: 5px;
      width: 100%;
      padding: 20px 0px 20px 20px;
      
      >*:first-of-type {
        margin-bottom:1rem;
      }
    }
  }
  .right{
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% - 15em);
    max-width: calc(100% - 15em);
    padding: 0px 4%;

    #makePost{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: minmax(min-content, max-content);
      grid-gap: 0px 30px;

      .field:not(.select){
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 2em;
        
        label{
          
          width: 100%;
          font-size: $fs-small;
          color: $c-primary;
          font-weight: bold;
          margin-bottom: 10px;
        }
        input{
          font-size: $fs-normal;
          width: 100%;
          border: none;
          border-bottom: 1px solid $c-dark;
          padding-bottom: 8px;
        }
        textarea{
          height: 13em;
          width: 100%;
          padding: 10px 10px;
        }
        
      }

      .select{
        display: flex;
        flex-direction: column;
        
        width: 100%;
        label{
          width: 100%;
          font-size: $fs-small;
          color: $c-primary;
          font-weight: bold;
          margin-bottom: 10px;
        }
      }
      .full{
        grid-column: 1/3;
      }
      .select{
        margin-bottom: 2em;
      }
      
    }
    
    .modalButton{
      align-self: flex-end;
      margin-top: 5em;
    }

  }
}


// login

  .col2 {
    height: 70vh;
    h1 {
      margin-bottom: 2rem;
    }
    input {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid $c-primary;
    }
    label{
      width: 100%;
      font-size: $fs-small;
      color: $c-primary;
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    button {
      float: right;
      margin-top: 2rem;
    }
    @media screen and (max-width: 742px) {
      height: auto;
      padding-top: 20vh;
    }
  }

// password reset
// bootstrap knekte modalen, så denne har blitt renamed til cutomModal
.customModal {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $c-modaltransparent;
  z-index: 2;
  padding: 5em 0em;
  overflow-y: auto;

  .custom-modal-content {
    >.editor{
      min-width: 70vw;
    }

    //Modal for samarbeid
    .coopModal {
      width: 70vw;

      v-list {
        list-style-type: none;

        li {
          display: inline;
        }
      }

      .left-column {
        border-right: 1px solid $c-secondary;
        text-align: center;
        padding-right: 30px;

        img {
          max-width: 200px;
        }
      }

      .right-column {
        padding-left: 30px;
      }

      @media only screen and (max-width: 768px) {
        .left-column {
          border-right: none;
          
          img {
            max-width: 200px;
          }
        }

        .modalbtns {
          div {
            float: none;
            margin: auto;
            display: flex;
            justify-content: center;
          }
        }
      }
    }

    position: relative;
    margin: auto;
    
    max-width: 80%;
    min-width: 55%;
    background: $c-bodybg;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(#333, 0.5);
    z-index: 999;

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 5px;
      cursor: pointer;
      transition: 0.15s;

      &:hover {
        color: $c-dark;
      }
    }

    h3 {
      margin: 0;
      margin-bottom: 1em;
    }

    p {
      margin: 15px 0;
    }

    .error {
      color: $c-alert;
      font-size: $fs-small;
    }

    .button {
      width: 100%;
    }
  }
}


// settings
#settings {
  padding: 2rem 0;

  .col1 {
    max-width: 600px;
    margin: 5vh auto 0;
    background: $c-white;
    padding: 2rem;
  }


  .success {
    color: $c-confirm;
    margin: 0.5rem 0 -2rem;
  }

  .button {
    margin-top: 2rem;
  }
}


//Footer
footer {
	margin-top: 2rem;

	.footer-top, .footer-bottom {
		margin: 0;
	}

	.footer-top {
		width: 100%;
		min-height: 250px;
		margin-bottom: -5px;

    path {
      position: absolute;
      bottom: 0;
    }
    background: inline-svg('<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 200" style="enable-background:new 0 0 1920 200;" xml:space="preserve"><path class="st0" d="M0,172.38c0,0,249-93.38,914-50.38s434-158,1014-75v153H0V172.38z"/></svg>');
		background: url("../images/footer-graphic-200.svg") no-repeat bottom;
	}

	.footer-bottom {
		height: auto;
		padding: 0.5rem 1rem;
		background: $c-secondary;

		img {
			max-width: 250px;
			padding-bottom: 20px;
		}

		h6 {
			font-size: $fs-h6;
			font-weight: bold !important;
		}

		h6, a {
			color: $c-dark;
		}
		
		ul {
			list-style-type: none;
			padding: 0;
		}
	}

	@media only screen and (max-width: 768px) {
		.footer-bottom {
			img {
				display: block;
				margin: auto;
				padding: 50px 0;
			}
			h6, a, ul {
				text-align: center;
			}
		}
	}
}

//cardview hos admin
.matrixMenu{
  display: flex;
  flex-direction: column;
  width: 100%;
  .tabs{
    display: flex;
    justify-content: space-between;
    list-style:none;
    li{
      cursor: pointer;
      &.active{
        border-bottom:2px solid blue;
      }
    }
  }
  .cards-list{
    display: flex;
    flex-direction:column;
  }
}

.imgUpload-cont{
  width:100%;
  display: flex;
  flex-direction: column;
  .top{
    margin-bottom:2em;
    display: flex;
    #imgInput{
      border: none;
      width: 48%;
      margin-right: 2em;
    }
    p{
      width: calc(100% - (48% + 2em));
      display:flex;
      justify-content: space-between;
    }
  }
  .bottom{
    display: flex;
    align-items: center;
    justify-content:center;
    min-width: 100%;
      height: 14em;
      border: 3px dashed rgb(190, 190, 190);
      border-radius: 15px;
    >*{
      object-fit: contain;
      cursor: pointer;
      background-color: rgb(241, 241, 241);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      
    }

  }
}

.pureCard{
  display: flex;
  min-height: 12em;
  .left{
    flex-basis: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 70%;
      object-fit:contain;
    }
  }
  .middle{
    flex-basis: calc(100% - 27em);
    padding: 0px 20px;
    min-width: 20em;
    div{
      
      text-align: justify;
    }
  }
  .right{
    flex-basis: 12em;
    display:flex;
    flex-direction: column;
    justify-content:center;
    
    button{
      height: 2em;
      padding: 0px;
      
      width:100%;
      margin-bottom: 2em;
    }
    div{
      display: flex;
      justify-content:space-between;
      button{
        padding: 0px;
        width: 48%;
        min-width: 2em;
        align-self: flex-start;
    
      }
    }
  }
}
