// navigation
header{
  color: $c-primary;
  display: flex;
  justify-content: space-between;
  //logo
  >a{
    display: flex;
    margin: 16px;
  }
  //rest of menu
  ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    li{
      margin: 0px 20px;
    }
    .dropdown{
      position: relative;
      
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .dropdown:hover .dropdown-content {
      display: flex;
    }
    .dropdown-content {
      flex-direction: column;
      margin-top: 40%;
      display: none;
      position: absolute;
      background-color: $c-white;
      min-width: 140px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
      border: 1px solid rgb(207, 207, 207);

      >a:not(:first-of-type) {
        margin-top: 10px;
      }
    }

  }
}

// FOR SAMARBEID
.left-col-container{
  display: flex;
  flex-direction: column;

  .topRow{
      &.blue{
        position: relative;
        min-height: 6em;
        width:100%;
        
        display: flex;
        align-items: center;
        justify-content:center;
        color: white;
        background-color:$c-primary;
   
        color: $c-white;
      }
    &.regular{
      background-color:white;
    }
    

    div{
      
      display:flex;
     /*  align-items: center;
      justify-content:center; */
      h1{
        text-align: center;
        text-transform: capitalize;
      }
      button{
        position: absolute;
        right:5%;
        width: 9em;
        background-color:$c-white;
        color: $c-dark;
        border-radius: 5px;
      }
    }

  }

  .main{
    display: flex;
    width:100%;
    min-height: 34em;
    margin-top: 3em;
    
  
    section:first-of-type{
    // flex-basis: 20em;
    padding: 50px;
    border-right: 1px solid rgb(197, 197, 197);
    display: flex;
    // align-items: center;
    justify-content:center;

    .active{
      color: $c-primary;
      }
    }

  section:last-of-type{
    flex-basis: calc(100% - 20em);
    padding: 0em 5%;
    
    .secRow{
      margin-bottom: 4em;
      div{
        
        display:flex;
        justify-content: space-between;
        h1{
          font-size: 3rem;
          text-transform: capitalize
        }
        input{
          width: 40%;
        }
        button{  
          width:10em;
        }
      }
    }
    
    .contentList{
      background-color: $c-white;
      width: 100%;
      height: 100%;
      display: flex;
      padding-top: 50px;
      // align-items:center;
      justify-content:center;
    }

    .card {
      min-height: 200px;
      padding: 20px; 

      &:hover {
        box-shadow: 0 3px 15px rgba(0,0,0,0.2);
      }
    }
    
    .test1{
      background-color: blue;
      width: 100px;
      height: 100px;
    }
    .test2{
      background-color: red;
      width: 100px;
      height: 100px;
      
    }
    
  }
 }
}
// SLUTT PÅ SAMARBEID

//forms

form{

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: 0px 30px;

  .field:not(.select){
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2em;
    
    label{
      
      width: 100%;
      font-size: $fs-small;
      color: $c-primary;
      font-weight: bold;
      margin-bottom: 10px;
    }
    input{
      font-size: $fs-normal;
      width: 100%;
      border: none;
      border-bottom: 1px solid $c-dark;
      padding-bottom: 8px;
    }
    textarea{
      height: 13em;
      width: 100%;
      padding: 10px 10px;
    }
    
  }

  .select{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    label{
      width: 100%;
      font-size: $fs-small;
      color: $c-primary;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

}

button{
  background-color: $c-primary;
  color: $c-white;
  padding: 10px 20px;
  width: min-content;
  border: none;
  border-radius: 3px;
  &:hover {
		background: lighten($c-primary, 5%);
	}

  
}
.modalButton{
  margin-top: 2em;
  float: right;
  
  
}

#signup{
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 40em;
  margin: 0px auto;
  
  form{
    margin-top: 3em;
    margin-bottom: 3em;
    button{
      grid-column: 2/3;
    }
    .full{
      grid-column: 1/3;
    }
  }
  

}


//editor for making post
#post{
  display: flex;
  width:100%;
  >.left{
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    flex-basis: 15em;

    img{
      width: 100%;
      object-fit: contain;
      max-height: 8em;
      margin-bottom: 2em;
    }

    

    .desc{
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items:center;
    }

    .companyName{
      text-transform: capitalize;
      margin-bottom:1.5em;
    }

    .contact{
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items:flex-start;
      background-color:rgb(241, 241, 241);
      border-radius: 5px;
      width: 100%;
      padding: 20px 0px 20px 20px;
      
      >*:first-of-type {
        margin-bottom:1rem;
      }
    }
  }
  .right{
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% - 15em);
    max-width: calc(100% - 15em);
    padding: 0px 4%;

    #makePost{
      
      .full{
        grid-column: 1/3;
      }
      .select{
        margin-bottom: 2em;
      }
      
    }
    
    .modalButton{
      align-self: flex-end;
      margin-top: 5em;
    }

  }
}


// login
#login {
  background: linear-gradient(to right, $c-primary 0%, $c-primary 50%, $c-white 50%, $c-white 100%);

  @media screen and (max-width: 742px) {
    height: 100vh;
    background: $c-white;
  }

  .col1,
  .col2 {
    height: 100vh;
    padding-top: 30vh;
    @media screen and (max-width: 742px) {
      height: auto;
      padding-top: 20vh;
    }
  }

  .col1 {
    color: $c-white;
    @media screen and (max-width: 742px) {
      display: none;
    }

    p {
      max-width: 490px;
      margin-top: 2rem;
      line-height: 1.8;
    }

    a {
      color: $c-white;
      text-decoration: underline;
    }
  }

  .signup-form {
    padding-top: 20vh;
    @media screen and (max-width: 742px) {
      padding-top: 10vh;
    }
  }

  .col2 {
    h1 {
      margin-bottom: 2rem;
    }

  }
}

// password reset
// bootstrap knekte modalen, så denne har blitt renamed til cutomModal
.customModal {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(#333, 0.5);
  z-index: 2;
  padding: 5em 0em;
  overflow-y: auto;

  .custom-modal-content {

    &.editor{
      min-width: 80%;
    }

    position: relative;
    margin: auto;
    
    max-width: 80%;
    min-width: 60%;
    background: $c-white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(#333, 0.5);
    z-index: 999;

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 5px;
      cursor: pointer;
      transition: 0.15s;

      &:hover {
        color: $c-dark;
      }
    }

    h3 {
      margin: 0;
      margin-bottom: 1em;
    }

    p {
      margin: 15px 0;
    }

    .error {
      color: $c-alert;
      font-size: $fs-small;
    }

    .button {
      width: 100%;
    }
  }
}


// settings
#settings {
  padding: 2rem 0;

  .col1 {
    max-width: 600px;
    margin: 5vh auto 0;
    background: $c-white;
    padding: 2rem;
  }


  .success {
    color: $c-confirm;
    margin: 0.5rem 0 -2rem;
  }

  .button {
    margin-top: 2rem;
  }
}
//cardview hos admin
.matrixMenu{
  display: flex;
  flex-direction: column;
  width: 100%;
  .tabs{
    display: flex;
    justify-content: space-between;
    list-style:none;
    li{
      cursor: pointer;
      &.active{
        border-bottom:2px solid blue;
      }
    }
  }
  .cards-list{
    display: flex;
    flex-direction:column;
  }
}

.imgUpload-cont{
  width:100%;
  display: flex;
  flex-direction: column;
  .top{
    margin-bottom:2em;
    display: flex;
    #imgInput{
      border: none;
      width: 48%;
      margin-right: 2em;
    }
    p{
      width: calc(100% - (48% + 2em));
      display:flex;
      justify-content: space-between;
    }
  }
  .bottom{
    display: flex;
    align-items: center;
    justify-content:center;
    min-width: 100%;
      height: 14em;
      border: 3px dashed rgb(190, 190, 190);
      border-radius: 15px;
    >*{
      object-fit: contain;
      cursor: pointer;
      background-color: rgb(241, 241, 241);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      
    }

  }
}

.pureCard{
  display: flex;
  min-height: 12em;
  .left{
    flex-basis: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 70%;
      object-fit:contain;
    }
  }
  .middle{
    flex-basis: calc(100% - 27em);
    padding: 0px 20px;
    min-width: 20em;
    div{
      
      text-align: justify;
    }
  }
  .right{
    flex-basis: 12em;
    display:flex;
    flex-direction: column;
    justify-content:center;
    
    button{
      height: 2em;
      padding: 0px;
      
      width:100%;
      margin-bottom: 2em;
    }
    div{
      display: flex;
      justify-content:space-between;
      button{
        padding: 0px;
        width: 48%;
        min-width: 2em;
        align-self: flex-start;
    
      }
    }
  }
}