/** 
Set up variables:

For colors create names like: $c-primary
where c stands for color
For fonts create names like: $f-primary
where f stands for fonts
etc.

*/

//COLORS
$c-primary: #00509E;
$c-mediumbg: #cfdeee;
$c-lightbg: #d5e0eb;
$c-headerbg: #373847;
$c-footerbg: #373847;
$c-priobg: #fff;
$c-navFooterTxt: #fff;
$c-headerTxt: #00509E;
$c-hover: #000;
$c-secondary: #cfdaf1; //NB!! Bytte til #DDE7EE etter NTNU sin designmanual? Eventuelt #79A2CE
$c-secondarysdw: #A3BAD1a7;
$c-alert: #BA0909;
$c-alertborder: #BA0909;
$c-confirm: #007327;
$c-confirmborder: #007327;
$c-dark: #272833;
$c-white: #fff;
$c-text: #272833; //Bruk denne for all tekst løpende tekst
$c-links: #00509E;
$c-bodybg: #fff;
$c-modaltransparent: rgba(#333, 0.5);
$c-modalbg: #fff;
$c-transparent: transparent;
$c-btnborder: #00509E;
$c-btntext: #00509E;
$c-focus: #000;

$footer-graphic: url("../images/footer-graphic-200-dark.svg") no-repeat bottom;